body {
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    padding: 0 2rem;
    border-radius:0 0 10px 10px;
    background-color: rgb(214 219 225);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: fixed;
    z-index: 10;
    
  }
  .logo img{
    width: 9rem;
  }
  .nav-links{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    width: auto;
  }
  .nav-links a{
    text-decoration: none;
  }
  .nav-links li{
    margin: 0 15px;
  }
  
  .dropdown{
    position: relative;
    text-align: center;
  }
  
  .test{
    position: absolute;
    width: 7rem;
    height: 3rem;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    transform: translate(0, 2rem);
    list-style: none;
    line-height: 2.5;
    padding: 0 1rem;
    border-radius: 15px;
    background-color: rgb(214 219 225);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    position: relative;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
    
  }
  
  .dropdown .fas.fa-caret-down {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown:hover .fas.fa-caret-down {
    transform: translateY(-2px);
  }
   
  
  
  .toggle-btn{
    display: none;
  
   }
  
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 5rem;
    width: 300px;
    height: 0;
    background-color: rgb(214 219 225);
    box-shadow: 10px 5px 15px rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown-content1 {
    display: none;
    position: relative;
    color: #000000;
    padding: 10px 20px;
    list-style: none;
    z-index: 1;
    margin-top: 6px;
  }
  
  .dropdown_menu a:hover {
    color: #13a1e2;
  }
  
  .dropdown_menu.open{
    height: auto;
    width: 91%;
  }
  
  .dropdown_menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
  
  .dropdown_menu li{
    padding: 0.7rem;
    display:flex ;
    align-items: center;
   flex-direction: column;
    
  
  }
  
  .dropdown-content1 li{
  padding: 0.7rem;
  flex-direction: column;
  
  }
  
  .dropdown:hover .dropdown-content1{
    display: block;
    
  }
  
  
  
  @media screen and (max-width: 768px) {
    
    .nav-links {
      display: none;
      flex-direction: column;
      position: fixed;
  }
  
    .toggle-btn{
      display: block;
    
     }
  
    .dropdown_menu{
      display: block;
    }
  }
  
  @media (max-width :576px){
      .dropdown_menu{
          left: 1rem;
          width: 85%;
      }
  }
  
  .nav-links a:hover{
   color: #13a1e2;
    
  }
  
  .nav-links a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ea0e4b;
    transform:scale(0,1);
    transition: all .5s ease ;
  }
  .nav-links a:hover:before{
    transform:scale(1,1);
    
  }
  
  .top{
    margin-top: 4.5rem;
  }
  


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 100px;
}

#map {
    width: 50%;
    height: 500px;
}

.contact-form {
    width: 45%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
form{
    height: 278px;
    border-radius: 20px;
    
}
#name{
  position: relative;
  left: 42px;
  top: 72px;
}
#email{
  position: relative;
    left: 86px;
    top: 73px;
}
#phone{
  position: relative;
    left: 43px;
    top: 99px;
}
#msg{
  position: relative;
    left: 263px;
    top: 76px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #007bff;
    font-family: "Georgia", sans-serif;
}

.contact-form p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 70px;
    font-size: 1rem;
    color: #333;
}
form{
    background-color: #97d1ec;
}
#contactForm{
   transition: none;
    cursor: move;
    position: relative;
}
.contact-form .form-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
    position: relative;
    left: 5px;
    top: 50px;
}

.contact-form .form-row textarea {
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact-form .form-row input[type="text"],
.contact-form .form-row input[type="email"] {
    flex: 1;
    margin-right: 9px;
}


/* .contact-form .form-row textarea {
    resize: none;
    height: 50px;
} */

.contact-form button {
    width: 50%;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 94px;
    position: relative;
    left: 37px;
    top: 93px;
}

.contact-form button:hover {
    background-color: #0056b3;
}
.footer{
  
    background-color: lavender;
  }
  .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    
    .footer-container .logo{
      text-align: justify;
      max-width: 25rem;
    }
    
    .footer-container .logo img {
      width: 20vw;
      
    }
    
    .quick-links {
      font-size: 15px;
      color: #666;
      display: flex;
      flex-wrap: wrap;
      line-height: 1.5;
      justify-content: center;
    }
    
    .quick-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .quick-links li {
      margin: 10px;
      transition: transform 0.3s ease-in-out;
    }
    
    .quick-links a {
      text-decoration: none;
      color:black;
      transition: color 0.3s ease-in-out;
    }
    
    .quick-links a:hover {
      color: #e90a0a;
      transform: scale(1.1);
    }
    
    .quick-links li:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    
    @media (max-width: 768px) {
      .quick-links {
        font-size: 20px;
      }
      .quick-links li {
        margin: 5px;
      }
      .footer-container{
        display: flex;
        flex-wrap: wrap;
      }
    }
    
    @media (max-width: 480px) {
      .quick-links {
        font-size: 20px;
      }
      .quick-links li {
        margin: 2px;
      }
    }
    .contact-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 100px;
      line-height: 1.5;
    }
    
    .contact-details h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .contact-details ul {
      list-style: none;
      padding: 0;
    }
    
    .contact-details li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    
    .contact-details li i {
      margin-right: 20px;
    }
    
    .footer-buttons {
      text-align: center;
    }
    
    .footer-buttons button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
    }
  .copy-right{
    text-align: center;
  }
    