<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./Admission.css">
</head>
<body>
  <header>
        
    <nav>
        <div class="logo">
            <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li class="dropdown">
                <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                <div class="test">
                    <ul class="dropdown-content">
                        <li><a href="/pre-nursery">Pre-Nursery</a></li>
                        <li><a href="/nursery">Nursery</a></li>
                        <li><a href="/kindergarten">Kindergarten</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/Newsandevent">News & Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="dropdown_menu">
          <li><a href="/">Home</a></li>
          <li><a href="Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content1">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </div>
    </nav >
</header>
      <div class="main-div">
      </div>
    </div>   
    <div class="main-container">
      
    </div>
    <div class="container">
      <div class="left">
        <div class="underline"></div>
        <h2>Brighten Up Your Child’s Early Childhood With India’s Best Play School</h2>
        <h3>Nursery Class Admission at Munchkin</h3>
        <p>Looking for Nursery class admission? Our age-appropriate programs and unique concept rooms focus on developing your child’s cognitive, physical, social, emotional, and language abilities and thus lay a strong foundation for their future success. We have a track record of thousands of satisfied parents and lakhs of happy children, whose journeys started on a wonderful note by filling in our play school admission form. Choosing Bachpan means choosing the best preschool experience for your child! Preschool Admission Open. </p>
      </div>
<div class="BOX">
  <h2>Unlock a world of learning!<br>Enroll your child in our preschool today</h2>
  <form id="admissionForm" action="/submit-address" method="POST">
    <div class="input-field">
      <input type="text" name="username" placeholder="Username" required />
      <input type="email" name="email" placeholder="Email" required />
    </div>
    <div class="input-field">
      <input type="text" name="mobile" placeholder="Mobile Number" required />
      <input type="text" name="address" placeholder="Address" required />
    </div>
    <div class="input-field">
      <select name="select" required>
        <option value="">--Select State--</option>
        <option value="Andaman and Nicobar">Andaman and Nicobar</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
      </select>
    </div>
    <div class="input-field">
      <textarea name="query" placeholder="Your Query" required></textarea>
    </div>
    <button type="submit" id="admissionSubmitButton">Submit</button>
  </form>
  
	</div> 
</div>
<div class="section">
  <img src="./image/img1ad.png" alt="fcfs">
  <img src="./image/img2ad.png" alt="docoment Reiquired">
  <img src="./image/img3ad.png" alt="contact">
</div>

<div class="footer">
    
  <div class="footer-container">
      <div class="logo">
        <img src="./image/logo-removebg.png" alt="Bachpan Logo">
        <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
      </div>
      <div class="quick-links">
          <ul>
            <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li><a href="/program">Programs</a></li>
            <li><a href="/Newsandevent">News & Events</a></li>
           
          </ul>
        </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><h2>Get help</h2></a></li>
            <li><a href="#">Register</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
          </ul>
        </div>
      <div class="contact-details">
        <ul>
          <h2>Our Contact Details</h2>
          <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
          <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
          <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-buttons">
      <button class="button">Corporate Login</button>
    </div>
    <hr>
    <div class="copy-right">
      <p>Copyright © 2024 Munchkin Kindergarten</p>
    </div>
    </div>
    <script>
      document.getElementById('submitButton').addEventListener('click', function(event) {
  event.preventDefault(); // Prevent the default form submission

  const form = document.getElementById('admissionform'); // Reference the form
  const formData2 = new FormData(form); // Create FormData from the form
  const data = Object.fromEntries(formData2); // Convert FormData to a plain object

  fetch('submit-address', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});

    </script>
</body>
</html>