<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./contact.css">
    
</head>
<body>
    <header>
        
        <nav>
            <div class="logo">
                <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/Admission">Admission</a></li>
                <li><a href="/franchise">Franchise</a></li>
                <li class="dropdown">
                    <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                    <div class="test">
                        <ul class="dropdown-content">
                            <li><a href="/pre-nursery">Pre-Nursery</a></li>
                            <li><a href="/nursery">Nursery</a></li>
                            <li><a href="/kindergarten">Kindergarten</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/Newsandevent">News & Events</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            
            <div class="toggle-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            
            <div class="dropdown_menu">
              <li><a href="/">Home</a></li>
              <li><a href="Admission">Admission</a></li>
              <li><a href="/franchise">Franchise</a></li>
              <li class="dropdown">
                <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                <ul class="dropdown-content1">
                  <li><a href="/pre-nursery">Pre-Nursery</a></li>
                  <li><a href="/nursery">Nursery</a></li>
                  <li><a href="/kindergarten">Kindergarten</a></li>
                </ul>
              </li>
              <li><a href="/Newsandevent">News & Events</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </div>
        </nav >
</header>
    <main>
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.5459155384756!2d79.09856132452505!3d21.13066219977456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bff0f6025935%3A0x8b80daeacfbe1f64!2sWidesoftech%20PVT.%20LTD.!5e0!3m2!1sen!2sin!4v1725508386025!5m2!1sen!2sin" width="550" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        <div class="contact-form">
            <h2>Feel Free to Reach Out</h2>
            <p>Have you got any questions, suggestions, or feedback for us? Why not contact us? And we will get back to you in no time!</p>
            <form id="contactForm" action="/submit-contact" method="POST">
              <div class="input-field">
                <input type="text" id="name" name="username" placeholder="Your Name" required />
                <input type="email" id="email" name="email" placeholder="Your Email" required />
              </div>
              <div class="input-field">
                <input type="tel" id="phone" name="telephone" placeholder="Your Phone Number" required />
              </div>
              <div class="input-field">
                <textarea name="message"id="msg" placeholder="Your Message" required></textarea>
              </div>
              <button type="submit" id="contactSubmitButton">Submit</button>
            </form>
                          
        </div>
    </main>
    <div class="footer">
    
        <div class="footer-container">
            <div class="logo">
              <img src="./image/logo-removebg.png" alt="Bachpan Logo">
              <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
            </div>
            <div class="quick-links">
                <ul>
                  <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/franchise">Franchise</a></li>
                  <li><a href="/program">Programs</a></li>
                  <li><a href="/Newsandevent">News & Events</a></li>
                 
                </ul>
              </div>
            <div class="quick-links">
                <ul>
                  <li><a href="#"><h2>Get help</h2></a></li>
                  <li><a href="#">Register</a></li>
                  <li><a href="/Admission">Admission</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/terms">Terms and Conditions</a></li>
                </ul>
              </div>
            <div class="contact-details">
              <ul>
                <h2>Our Contact Details</h2>
                <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
                <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
                <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
              </ul>
            </div>
          </div>
          <div class="footer-buttons">
            <button class="button">Corporate Login</button>
          </div>
          <hr>
          <div class="copy-right">
            <p>Copyright © 2024 Munchkin Kindergarten</p>
          </div>
          </div>
          

</body>
</html>
