<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./faq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div>
<body>
  <header>
        
    <nav>
        <div class="logo">
            <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li class="dropdown">
                <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                <div class="test">
                    <ul class="dropdown-content">
                        <li><a href="/pre-nursery">Pre-Nursery</a></li>
                        <li><a href="/nursery">Nursery</a></li>
                        <li><a href="/kindergarten">Kindergarten</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/Newsandevent">News & Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="dropdown_menu">
          <li><a href="/">Home</a></li>
          <li><a href="Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content1">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </div>
    </nav >
</header>
<div class="main">
    <h1>FAQs</h1>
    <center><img src="./image/line.png" width="300" height="20"></center>
</div>
  
 <div class="question">
    <div><img src="/./image/faq-left.png" width="400" height="300"></img></div>
    <div class="paragraph">
      <h2>Frequently asked questions by the parents {FAQ}</h2><br>
      <p align="justify">As your child enters kindergarten, we know that you probably have a lot of questions in your mind. We want to make sure that you and your child feel at home here at Mother’s Pet Kindergarten, so we have come up with a list of the most frequently asked questions about this very important first year of school. One of the best things you can do is to familiarize yourself and your child with our school by taking a tour of our Kindergarten. Let your baby play in the outdoor play area by visiting us during the office hours before the new session starts.</p>
    </div>
  </div>
  
    <br>
  <div class="wrapper">
    <h1><b>Frequently Asked Questions</b></h1>

    <div class="faq">
      <button class="accordion">
        Will I be allowed to stay with my child in school?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Yes. We at MPK understand your separation anxiety and believe that separation from the parent should happen gradually and smoothly. You will be allowed to attend the school with your child till she/ he gets familiar with her/his teacher and the school.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Do you have a special Kindergarten wing or designated playground?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Yes, all of our classrooms are clustered together in the main building and are separated from the primary and high school area.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        What about the playground? Will my child be playing with the primary children?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Kindergarten students have their own playground. Time table is planned in such a way that each class has a separate play time.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        When can I find out which teacher my child will have?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          All class lists will be posted on the first day of the school in June/July. Teachers will also be accessible at the entrance door of their class.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        What is the procedure for snacks and lunch?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Children may bring a healthy snack/fruit from home to eat during morning fruit break around 9:30 am. Kindergarten lunch time is 11:30 am. They will be trained to eat independently following all the hygiene rules.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Do all schools have water play facilities?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Yes, all our kindergartens have water play facilities supervised strictly by our staff for safety.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        What happens if my child gets sick or hurt?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          There is a provision for a School Nurse at MPK Dabha and Wardhaman Nagar and a Doctor at call for Sadar and Manish Nagar school. You will be called right away if the injury is severe, or if your child needs to go home due to illness or extensive medical treatment.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Is it safe for my child to use the bus?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          Buses are safe with two conductors in each bus along with a lady conductor which is mandatory. Many children enjoy the responsibility, making new friends and the independence of the bus ride. The school bus tag provided by the teacher ensures that the bus driver knows your child's stop.
          <br>*No bus facility at Sadar branch
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        Will my child learn to read in kindergarten?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          We nurture each child's natural desire to learn. All our children are immersed in literacy rich environments and are provided endless opportunities to develop their literacy skills. We want each child to leave kindergarten with appropriate literacy foundations that will make them successful in the years to come. Yes, some children come into kindergarten ready to read or reading already, while others are developing their skills. Literacy activities in kindergarten are always multi-level and our classrooms are set up with many open-ended activities to challenge each learner at their level. The beauty is that each and every child will grow tremendously no matter what skills they come into our school with.
        </p>
      </div>
    </div>

    <div class="faq">
      <button class="accordion">
        When will my child start writing?        
        <i class="fa-light fa-plus"></i>
      </button>
      <div class="pannel">
        <p align="justify">
          We believe in the L S R W method – Listen Speak Read and finally Write which is developmentally appropriate. Our children start writing in KGI after a lot of Writing Readiness Activities in Nursery.
        </p>
      </div>
    </div>

    <div class="faq">
        <button class="accordion">
          What curriculum do you follow?            
          <i class="fa-light fa-plus"></i>
        </button>
        <div class="pannel">
          <p align="justify">Our curriculum is designed and developed by our expert team under the guidance of our Principal for the holistic development of our kindergartners. We keep changing our curriculum as per the ever-changing education scenario worldwide. We make sure that the best practices are adopted in our curriculum and each child is well equipped to handle the primary school independently and with confidence.
          </p>
        </div>
      </div>

      <div class="faq">
        <button class="accordion">
          How will you maintain safety measures during physical school?            
          <i class="fa-light fa-plus"></i>
        </button>
        <div class="pannel">
          <p align="justify">
            The school follows strict hygiene. Our Standard Operating Procedures (SOP) are in place and we will follow all government regulations for the safety of your child.
          </p>
        </div>
      </div>

  </div>
  <br>
</div>
  
<div class="footer">
    
  <div class="footer-container">
      <div class="logo">
        <img src="./image/logo-removebg.png" alt="Bachpan Logo">
        <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
      </div>
      <div class="quick-links">
          <ul>
            <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li><a href="/program">Programs</a></li>
            <li><a href="/Newsandevent">News & Events</a></li>
           
          </ul>
        </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><h2>Get help</h2></a></li>
            <li><a href="#">Register</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
          </ul>
        </div>
      <div class="contact-details">
        <ul>
          <h2>Our Contact Details</h2>
          <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
          <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
          <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-buttons">
      <button class="button">Corporate Login</button>
    </div>
    <hr>
    <div class="copy-right">
      <p>Copyright © 2024 Munchkin Kindergarten</p>
    </div>
    </div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        this.parentElement.classList.toggle("active");

        var pannel = this.nextElementSibling;

        if (pannel.style.display === "block") {
          pannel.style.display = "none";
        } else {
          pannel.style.display = "block";
        }
      });
    }
    
    document.addEventListener('DOMContentLoaded', function() {
    var acc = document.querySelectorAll('.accordion');

     acc.forEach(function(el) {
      el.addEventListener('click', function() {
        this.classList.toggle('active');
        var icon = this.querySelector('.fa-light');

        // Toggle between plus and cross icons
        if (icon.classList.contains('fa-plus')) {
            icon.classList.remove('fa-plus');
            icon.classList.add('fa-cross');
        } else {
            icon.classList.remove('fa-cross');
            icon.classList.add('fa-plus');
        }

        // Toggle the visibility of the panel
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = "none";
        } else {
            panel.style.maxHeight = "block";
        }
      });
   });
  });

const toggleBtn = document.querySelector('.toggle_btn')
const toggleBtnIcon = document.querySelector('.toggle_btn i')
const dropdownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
dropdownMenu.classList.toggle('open')
const isOpen = dropdownMenu.classList.contains('open')

toggleBtnIcon.classList = isOpen
? 'fa-solid fa-xmark'
: 'fa-solid fa-bars'
}

</script>
</body>
</html>