<!DOCTYPE html>
<html>
<head><link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
      
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./franchise.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>    
  <header>
        
    <nav>
        <div class="logo">
            <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li class="dropdown">
                <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                <div class="test">
                    <ul class="dropdown-content">
                        <li><a href="/pre-nursery">Pre-Nursery</a></li>
                        <li><a href="/nursery">Nursery</a></li>
                        <li><a href="/kindergarten">Kindergarten</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/Newsandevent">News & Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="dropdown_menu">
          <li><a href="/">Home</a></li>
          <li><a href="Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content1">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </div>
    </nav >
</header>
  </div>   
      <div class="main-container">
        <h1>FRANCHISE OPPOCTUNITY</h1>
        </div>
      <div class="container">
  <div class="left">
    <div class="underline"></div>
    <h2>Leverage the Best Preschool Franchise</h2>
    <h3>Opportunity in Town</h3>
    <h2>Join Our Play School Franchise for</h2>
    <h2>a Thriving Legacy</h2>
    <p>Early childhood development is an extremely crucial time for a child's foundational brain development, and yet its power and market have been largely untapped where crores of Indian parents strive to provide their children with quality preschool education. we at Munchkin Preschool are India's leading preschool franchise network</p>
  </div>
  <div class="right">
		<h2>Make Your Mark With India's Top Preschool <br> Franchise Opportunity</h2>
		<form id="franchiseForm" action="/submit-form" method="POST" enctype="multipart/form-data">
      <div class="input-field">
        <input type="text" name="username" placeholder="Username" required />
        <input type="email" name="email" placeholder="Email" required />
      </div>
      <div class="input-field">
        <input type="tel" name="mobile" placeholder="Mobile Number" required />
        <input type="text" name="address" placeholder="Address" required />
      </div>
      <div class="input-field">
        <select name="select" required>
          <option value="">--Select State--</option>
          <option value="Andaman and Nicobar">Andaman and Nicobar</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
        </select>
      </div>
      <div class="input-field">
        <textarea name="query" placeholder="Your Query" required></textarea>
      </div>
      <button type="submit" id="submitButton">Submit</button>
    </form>
    
	</div>
      </div>
<div class="container2">
    <div class="left-container score popup arrow">
      <img src="./image/preschool-building-exterior-playground-sunny-day-42208937.webp" alt="Munchkin Preschool Franchise">
      <h1>START YOUR OWN <br> PRESCHOOL NOW</h1>
    </div>
    <div class="right-container">
      <h3>We're Not Just a Brand, But a Legacy</h3>
      <h2>What Makes Munchkin a Smart <br> Preschool Franchise in India</h2>
      <p class="text">As the best preschool franchise with a nationwide presence, Munchkin is focused on making a substantial impact on children and society. When you decide to franchise with Munchkin, you acquire franchise opportunities that are low-cost and high-profit investments, full of social impact.</p>
      <p class="text">Education is the foundation of every individual, society, and country. So, when you start a school franchise, you can be sure that the field has long-term prospects in store for you, and there will be ever-increasing franchise opportunities. Also, the importance of preschool education has been distinctively recognised by the National Education Policy (NEP); hence, rest assured, you are making the right decision when you choose a preschool franchise opportunity!</p>
      
    </div>
  </div>
</div>

<div class="container34">
  <h2><b>You Don’t Have to Start From Scratch</b></h2>
  <br> 
   <h1><b> Preschool Franchise Support</b></h1>
  <br>
</div>
  <div class="container3">
  <div class="card">
    <img src="./image/setupsupport2.png" alt="Setup Support">
    <div class="card-content">
      <h3>SETUP SUPPORT</h3>
      <p class="hidden">Our set-up support extends to the selection of location and area, as well as exteriors and interiors.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/inaugration2.png" alt="Inauguration Support">
    <div class="card-content">
      <h3>INAUGURATION SUPPORT</h3>
      <p class="hidden">To help with the inauguration, we provide our franchisees with invites and all the other inaugural support.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/trainingsupport2.png" alt="Training Support">
    <div class="card-content">
      <h3>TRAINING SUPPORT</h3>
      <p class="hidden">We regularly organise online and offline training for our directors, principals, teachers, and technical staff.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/marketingsupport2.png" alt="Marketing Support">
    <div class="card-content">
      <h3 style="color: rgb(0, 0, 7);">MARKETING SUPPORT</h3>
      <p class="hidden">Brand presence does not come easy, and it requires constant marketing and advertising that we excel at.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/recuritment2.png" alt="HR Support">
    <div class="card-content">
      <h3>RECRUITMENT SUPPORT</h3>
      <p class="hidden">Whether it be advertising or interviews and selection, we at Munchkin provide complete recruitment support to our franchisees.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/technicalsupport2.png" alt="IT Support">
    <div class="card-content">
      <h3>IT SUPPORT</h3>
      <p class="hidden">Our technical support includes social media marketing, website support, and so much more, with the 360° App being our best feature.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/material2.png" alt="Material Support">
    <div class="card-content">
      <h3>MATERIAL SUPPORT</h3>
      <p class="hidden">We provide exclusive materials and resources support, such as uniforms, furniture, tech-based tools, books, and promotional items.</p>
    </div>
  </div>
  <div class="card">
    <img src="./image/daytoday.png" alt="Customer Support">
    <div class="card-content">
      <h3>CUSTOMER SUPPORT</h3>
      <p class="hidden">We offer day-to-day support to our franchise partners and further strengthen our comprehensive franchise support system.</p>
    </div>
  </div>
</div>

<section>
<h1>Frequently Asked Questions</h1>

<div class="faq-container">

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      How to Start a Preschool Franchise with Munchkin?
      <i class="fas fa-plus" style="margin-left: 56%;";></i>
    </div>
    <div class="faq-content">
      To start a preschool franchise with Munchkin, you need to meet their eligibility criteria, submit an application, and go through their training and support program.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      What Do I Need to Franchise with Munchkin?
      <i class="fas fa-plus" style="margin-left: 61%;"></i>
    </div>
    <div class="faq-content">
      You need to have a passion for education, a minimum of 1,500 sq. ft. of space, and an investment capacity of ₹10-15 lakhs to franchise with Munchkin.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      What Makes Munchkin the Best Preschool Franchise in India?
      <i class="fas fa-plus" style="margin-left: 48%;"></i>
    </div>
    <div class="faq-content">
      Munchkin is the best preschool franchise in India due to its proven business model, comprehensive training and support, and a strong brand reputation.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      What If I Need Any Assistance After My School Is Operational?
      <i class="fas fa-plus" style="margin-left: 48%;"></i>
    </div>
    <div class="faq-content">
      Munchkin provides ongoing support and assistance to its franchisees, including regular training sessions, marketing support, and operational guidance.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      How Much Does It Cost to Franchise with Munchkin?
      <i class="fas fa-plus" style="margin-left: 55%;"></i>
    </div>
    <div class="faq-content">
      The cost to franchise with Munchkin varies depending on the location and size of the preschool, but the estimated investment is around ₹10-15 lakhs.
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-title" onclick="showAnswer(this.parentNode)">
      How Much Time Does It Take to Get the School Operational?
      <i class="fas fa-plus" style="margin-left: 49%;"></i>
    </div>
    <div class="faq-content">
      It typically takes 3-6 months to get the school operational after signing the franchise agreement with Munchkin.
    </div>
  </div>

</div>
</section>
<div class="footer">
    
  <div class="footer-container">
      <div class="logo">
        <img src="./image/logo-removebg.png" alt="Bachpan Logo">
        <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
      </div>
      <div class="quick-links">
          <ul>
            <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li><a href="/program">Programs</a></li>
            <li><a href="/Newsandevent">News & Events</a></li>
           
          </ul>
        </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><h2>Get help</h2></a></li>
            <li><a href="#">Register</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
          </ul>
        </div>
      <div class="contact-details">
        <ul>
          <h2>Our Contact Details</h2>
          <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
          <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
          <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-buttons">
      <button class="button">Corporate Login</button>
    </div>
    <hr>
    <div class="copy-right">
      <p>Copyright © 2024 Munchkin Kindergarten</p>
    </div>
    </div>
</div>
<script src="/franchise.js"></script>
</body>
</html>