<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- gogle font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header>
        
            <nav>
                <div class="logo">
                    <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Admission">Admission</a></li>
                    <li><a href="/franchise">Franchise</a></li>
                    <li class="dropdown">
                        <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                        <div class="test">
                            <ul class="dropdown-content">
                                <li><a href="/pre-nursery">Pre-Nursery</a></li>
                                <li><a href="/nursery">Nursery</a></li>
                                <li><a href="/kindergarten">Kindergarten</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/Newsandevent">News & Events</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                
                <div class="toggle-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                
                <div class="dropdown_menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="Admission">Admission</a></li>
                  <li><a href="/franchise">Franchise</a></li>
                  <li class="dropdown">
                    <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                    <ul class="dropdown-content1">
                      <li><a href="/pre-nursery">Pre-Nursery</a></li>
                      <li><a href="/nursery">Nursery</a></li>
                      <li><a href="/kindergarten">Kindergarten</a></li>
                    </ul>
                  </li>
                  <li><a href="/Newsandevent">News & Events</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                </div>
            </nav >
    </header>
<!-- hero section -->
<div class="top"></div>
    <div class="hero">
      <div class="hero-section">
        <div class="hero-text"> 
          <p class="hero-title">Welcome to Munchkin Kindergarten</p>
          <h1 class="hero-heading">We put a little <br> magic into all our <br> kids' lives
          </h1>
          <p class="hero-para">We are a group of passionate educators who   believe that everychild is unique and special. <br>
            <a href="Admission" class="hero-btn">Enroll Now</a>
            </div>
        </div>
        <div class="hero-img">
          <img src="./image/hero_bg_2_1.jpg" alt="">
        </div>
       <div class="wave">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="50 -10 1410 320"><path fill="#ea0e4b" fill-opacity="1" d="M0,224L48,218.7C96,213,192,203,288,186.7C384,171,480,149,576,160C672,171,768,213,864,218.7C960,224,1056,192,1152,186.7C1248,181,1344,203,1392,213.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
       </div>
       <div class="wave1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 1440 320"><path fill="#ffff" fill-opacity="1" d="M0,224L48,218.7C96,213,192,203,288,186.7C384,171,480,149,576,160C672,171,768,213,864,218.7C960,224,1056,192,1152,186.7C1248,181,1344,203,1392,213.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
       </div>
      </div>
    </div>

<!--about section   -->
<div class="about">
  <div class="about2">
    <div class="about-bottom"  data-aos="fade-up"><h1>Welcome</h1></div>
    <div class="about-top"><h1>About Our Kindergarten</h1></div>
  </div>
    <div class="about-text">
  
      <p class="about-para"> We believe that every child is a unique individual and that each
        child has the right to be treated with respect and dignity. <br>
        We are a group of passionate educators who   believe that
        everychild is unique and special.  <br> We believe that every child has the
        right to be treated with respect and dignity.
        </p>
    
    </div>
    <div class="about-container">
      <div class="box1 box" data-aos="fade-down-right">
          <div class="about-card1">
              <div class="about-card-img">
                <img src="./image/Curriculum-Pedagogy.svg" alt="">
              </div>
              <div class="about-card-text">
                <h3>Age-Appropriate Curriculum</h3>
                <p>Basic computer skills, digital literacy, and sometimes more advanced programming or technology courses.</p>
              </div>
            </div>
      </div>
      <div class="box2 box" >
          <img class="box2-image" src="./image/a-delightful-illustration-of-a-tree-adorned-with-v-1fXEv8g-TeyR7j4JJLKIXQ-IIcALYBlRVqruGVJgxUerg-removebg-preview (1).png" alt="">
      </div>
      <div class="box3 box"data-aos="fade-down-left">
          <div class="about-card1">
              <div class="about-card-img">
                <img src="./image/Teacher-Training.svg" alt="">
              </div>
              <div class="about-card-text">
                <h3>Teacher Training and Progress</h3>
                <p>Ensure morteachers are well-trained in child development, classroom management, and effective teaching methods</p>
              </div>
            </div>
      </div>
      <div class="box4 box"  data-aos="fade-up-right">
          <div class="about-card1">
              <div class="about-card-img">
                <img src="./image/Tools-Equipment.svg" alt="">
              </div>
              <div class="about-card-text">  <h3>Interactive Learning Materials</h3>
                <p>Integrate interactive and engaging learning materials such as educational games, videos, and hands-on activities.</p></div>
            </div>
            
      </div>
      <div class="box5 box"  data-aos="fade-up-left">
          <div class="about-card1">
              <div class="about-card-img">
                <img src="./image/Learning-Space.svg" alt="">
              </div>
              <div class="about-card-text">  <h3>Safe and Supportive Territory</h3>
                <p>Prioritize the physical and mental well-being of students by incorporating regular breaks, physical activities, and mindfulness</p></div>
            </div>
          </div>
      </div>
     
  </div>
  </div>

</div>

<!-- why choose -->
 <div class="choose-container">
  <div class="choose-title">Why Choose Us?</div>
  <div class="choose-box">
    <div class="choose-box1">
      <img src="./image/Child-friendly-Ambience.png" alt="">
      <p>Child-friendly
        Ambience</p>
    </div>
    <div class="choose-box2">
      <img src="./image/Safety-and-Hygiene.png" alt="">
      <p>Safety
        and Hygiene</p>
    </div>
    <div class="choose-box3">
      <img src="./image/Trained-and-Experienced-Staff.png" alt="">
      <p>Trained and
        Experienced Staff</p>
    </div>
    <div class="choose-box4">
      <img src="./image/Age-appropriate-Activities.png" alt="">
      <p>Age-appropriate
        Activities</p>
    </div>
    <div class="choose-box5">
      <img src="./image/Teacher-Student-Ratio.png" alt="">
      <p>Teacher
        Student Ratio</p>
    </div>
    <div class="choose-box6">
      <img src="./image/Intercity-Student-Transfer.png" alt="">
      <p>Intercity
        Student Transfer</p>
    </div>
    <div class="choose-box7">
      <img src="./image/Home-Buddy-App.png" alt="">
      <p>Home Buddy App</p>
    </div>
    <div class="choose-box8">
      <img src="./image/Main-School-Tie-ups.png" alt="">
      <p>Main School Tie-ups</p>
    </div>
    <div class="choose-box9">
      <img src="./image/Mindful-Learning-Approach.png" alt="">
      <p>Mindful Learning Approach</p>
    </div>
    <div class="choose-box10">
      <img src="./image/Convenience-of-Multiple-Shifts.png" alt="">
      <p>Convenience of Multiple Shifts</p>
    </div>
  </div>
 </div>

 <!-- franchise -->

<div class="franchise-section">
 
    <div class="franchise"> 
      <div class="franchise-sub">
        <div class="title">Embark on a franchising journey with Munchkin</div>
      <div class="subtitle">Why Franchise With Us?</div>
      <div class="description">
          Early childhood is an extremely crucial time for a child’s foundational brain development, and the market remains largely untapped where crores of parents strive to provide their children with quality preschool education in a ‘play school near me’.
      </div>
      <div class="benefits">
          <div class="benefit" data-aos="fade-right" data-aos-delay="500">
              <img src="./image/marketingsupport2.webp" alt="Brand">
              <div class="benefit-title">Established Brand</div>
          </div>
          <div class="benefit" data-aos="fade-right" data-aos-delay="250">
              <img src="./image/material2.webp" alt="Low Cost">
              <div class="benefit-title">Low Cost, High Returns</div>
          </div>
          <div class="benefit" data-aos="fade-right" data-aos-delay="10">
              <img src="./image/recuritment2.webp" alt="Support">
              <div class="benefit-title">Extensive Support</div>
          </div>
          <div class="benefit" data-aos="fade-left" data-aos-delay="10">
              <img src="./image/setupsupport2.webp" alt="Business Model">
              <div class="benefit-title">Proven Business Model</div>
          </div>
          <div class="benefit" data-aos="fade-left" data-aos-delay="250">
              <img src="./image/technicalsupport2.webp" alt="Economies of Scale">
              <div class="benefit-title">Economies of Scale</div>
          </div>
          <div class="benefit" data-aos="fade-left" data-aos-delay="500">
              <img src="./image/trainingsupport2.webp" alt="Support App">
              <div class="benefit-title">360° Support App</div>
          </div>
      </div>
      <a href="/franchise"class="read-more">Read more</a>
    </div>
  </div>
</div>

<!-- Activity -->
<div class="main-activities">
  <div class="activities-container">
    <div class="activities-title">
      <h1>Munchkin Activities</h1>
      <p>Developmentally age-appropriate activities which are designed keeping in mind the psychomotor, affective and kinesthetic requirements These play a major role in developing self-esteem, making the child independent, and enhancing their focus on the task at hand.</p>
    </div>
    <div class="activities-poster">
      <img src="./image/kindergarten3-subheader2.png" alt="">
    </div>
  </div>
  <div class="activities">
  <div class="activities-box">
    <div class="activities-box1 box">
      <img src="./image/kindergarten3-activities-icon1.png" alt="">
      <p>Games
        and fun</p>
    </div>
    <div class="activities-box2 box">
      <img src="./image/kindergarten3-activities-icon2.png" alt="">
      <p>Theater
        classes</p>
    </div>
    <div class="activities-box3 box">
      <img src="./image/kindergarten3-activities-icon3.png" alt="">
      <p>Learning
        to read</p>
    </div>
    <div class="activities-box4 box">
      <img src="./image/kindergarten3-activities-icon4.png" alt="">
      <p>Sports
        classes</p>
    </div>
    <div class="activities-box5 box">
      <img src="./image/kindergarten3-activities-icon5.png" alt="">
      <p>Basics
        of counting</p>
    </div>
    <div class="activities-box6 box">
      <img src="./image/kindergarten3-activities-icon6.png" alt="">
      <p>Recreation</p>
    </div>
    <div class="activities-box7 box">
      <img src="./image/kindergarten3-activities-icon7.png" alt="">
      <p>Art
        classes</p>
    </div>
    <div class="activities-box8 box">
      <img src="./image/kindergarten3-activities-icon8.png" alt="">
      <p>Music
        lessons</p>
    </div>
  </div>
  
</div>
<div class="activities-bottom"><img src="./image/kindergarten3-sectionsep3.png" alt="">
</div>
 </div>
<!-- programs -->
<div class="program">
   
  <div class="program-bottom"  data-aos="fade-up"><span><h1>Programs</h1></span></div>
  <div class="program-top"><span><h1>Learning Programs</h1></span></div>
</div>

<div class="program-head">
  <div class="program-playground ">
    <h2>PlayGroup</h2>
    <p>
      Admission Age Group <br>
      1.5 - 2.5 Years</p><br>
  </div>
  <div class="program-nursery">
    <h2>Nurser</h2>
    <p>Admission Age Group <br>
      2.5 - 3.5 Years</p>
  </div>
  <div class="program-kg1">
    <h2>Kindergarten 1</h2>
    <p>Admission Age Group <br>
      4 - 5 Years</p>
  </div>
  <div class="program-kg2">
    <h2>Kindergarten 2</h2>
    <p>Admission Age Group <br>
      5 - 6 Years</p>
  </div>
</div>

<div class="program-para">
  <p>As per research, the earlier the exposure of the child to a rich learning experience the greater the development of the skills. The transformation of the child from a little toddler crying in the first month to a confident happy child at the end of the academic year fills us with pride .The development of skills and the pace of development of skills is truly phenomenal in this group.</p>
</div>

  <div class="boxes">
    <div class="flip-box">
      <div class="flip-box-inner">
          <div class="flip-box-front">
             <img src="./image/playschool-card.png" >
          </div>
          <div class="flip-box-back">
              <h2>Play Ground</h2>
              <p align="justify">Our unique ZONE System, a dynamic and innovative method is designed to foster holistic development in children. This system incorporates a variety of interactive zones, each focused on different aspects of learning and development. is enjoyable and intuitive for young learners. The emphasis is on making learning a delightful experience, encouraging exploration, creativity, and the natural curiosity of children.<br><br> <br><br></p>
              <a href="/pre-nursery"><button class="explore-button">Explore More</button></a>
          </div>
      </div>
    </div>

  <div class="flip-box">
    <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="./image/Nursery-card.png">
        </div>
        <div class="flip-box-back">
          <br>
          <h2>Nursery</h2><br>
            <p align="justify" >Our Nursery programme is a tapestry of innovation, warmth, and growth. Our approach wraps language development with dynamic tools like MI Kids software, weaving stories and phonics into the fabric of learning. setting a stage for a lifelong love of learning. And through art, craft, and physical play, we celebrate the joy of learning in motion.<br><br><br><br></p>
            <a href="/nursery"><button class="explore-button">Explore More</button></a>
        </div>
    </div>
  </div>

  
  <div class="flip-box">
    <div class="flip-box-inner">
        <div class="flip-box-front">
            <img src="./image/kindergarten-1.png">
        </div>
        <div class="flip-box-back">
          <br>
            <h2>KG 1</h2> <br>
            <p align="justify">Ideal facilities for a holistic kindergarten experience include a safe, nurturing environment, digital classrooms for interactive learning, and a variety of physical activity spaces like a swimming pool, services are provided, reflecting our commitment to a comprehensive and secure educational environment for our young learners.<br><br><br><br></p>
            <a href="/kindergarten"><button class="explore-button">Explore More</button></a>
        </div>
    </div>
</div>
<div class="flip-box">
  <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="./image/kindergarten-2.png">
      </div>
      <div class="flip-box-back">
        <br>
          <h2>KG 2</h2><br>
          <p align="justify">Ideal facilities for a holistic kindergarten experience include a safe, nurturing environment, digital classrooms for interactive learning, and a variety of physical activity spaces like a swimming pool, Additionall reflecting our commitment to a comprehensive and secure educational environment for our young learners.<br><br><br><br>
          </p>
          <a href="/kindergarten"><button class="explore-button">Explore More</button></a>
      </div>
  </div>
</div>
</div>




<!-- news and event -->

<div class="container1">
  
  <div class="events">
     
    <div class="events-bottom"  data-aos="fade-up"><span><h1>News & Events</h1></span></div>
    <div class="events-top"><span><h1>News & Events</h1></span></div>
  </div>
  <div class="slider"> 
    <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="./image/newyear.webp" alt="New Year's Celebration">
                <h2>New Year's Celebration</h2>
                <p>January 2024</p>
            </div>
            <div class="card-back">
                <h2>Happy New Year!</h2>
                <p>A fun and festive celebration to welcome the New Year.
                  Activities like dance, music, and a small party with New Year's hats and noisemakers</p>
            </div>
        </div>
      </div>
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
              <img src="./image/spring.jpeg" alt="Spring Festival">
              <h2>Spring Festival</h2>
              <p>March 2024</p>
          </div>
          <div class="card-back">
              <h2>Spring Festival</h2>
              <p>Celebrating the beginning of spring.
                Activities like Planting flowers, spring-themed arts and crafts, and a small outdoor picnic if weather permits.</p>
      </div>
      </div>
  </div>
  
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/summerday.webp" alt="Summer Fun Day">
            <h2>Summer Fun Day</h2>
            <p>April 2024</p>
        </div>
        <div class="card-back">
            <h2>Summer Fun Day</h2>
            <p>A day dedicated to outdoor fun and activities.
              Activities like Water play (sprinklers, water balloons), outdoor games, and a picnic lunch.</p>
        </div>
  </div>
  </div>
    
  <div class="card">
      <div class="card-inner">
          <div class="card-front">
              <img src="./image/kamlamummy.webp" alt="Mother's Day masti">
              <h2>Mother's Day masti</h2>
              <p>May 2024</p>
          </div>
          <div class="card-back">
              <h2>Mother's Day masti</h2>
              <p> A special event to honor mothers and caregivers.
                Activities like making cards and crafts for mothers, and a short performance by the children.  </p>
      </div>
      </div>
  </div>
  
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/sports day.jpeg" alt="Sports Day">
            <h2>Sports Day</h2>
            <p>june 2024</p>
        </div>
        <div class="card-back">
            <h2>Sports Day</h2>
            <p>Lively event filled with fun games, where little ones enjoy friendly competition and teamwork. It's a day of laughter, promoting physical activity and social skills among young children.</p>
            </p>
        </div>
  </div>
  </div>
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/end.webp" alt="End of Year">
            <h2>End of Year</h2>
            <p>July 2024</p>
        </div>
        <div class="card-back">
            <h2>End of Year</h2>
            <p>Celebrating the end of the school year and the graduation of older preschoolers.
              Activities like Graduation ceremony, certificates, performances by the children, and a party with games and refreshments. </p>
        </div>
  </div>
  </div>
  <div class="card">
  <div class="card-inner">
      <div class="card-front">
          <img src="./image/welcome.jpeg" alt="Back to School Welcome">
          <h2>Back to School Welcome</h2>
          <p>September 2024</p>
      </div>
      <div class="card-back">
          <h2>Back to School Welcome</h2>
          <p> Welcoming new and returning students.
            Activities like Meet and greet, classroom tours, icebreaker games, and a welcome party.</p>
      </div>
  </div>
  </div>
  
  <div class="card">
  <div class="card-inner">
    <div class="card-front">
        <img src="./image/annual.jpeg" alt="Annual Day">
        <h2>Annual Day</h2>
        <p>October 2024</p>
    </div>
    <div class="card-back">
        <h2>Annual Day</h2>
        <p>  A fun and spooky celebration with dance.
          Activities like Costume competition,dance performance,crafts and games.</p>
    </div>
  </div>
  </div>  
  <div class="card">
  <div class="card-inner">
    <div class="card-front">
        <img src="./image/winterday.webp" alt="Winter Holiday Celebration">
        <h2>Winter Holiday Celebration</h2>
        <p>December 2024</p>
    </div>
    <div class="card-back">
        <h2>Winter  Celebration</h2>
        <p>  Celebrating winter holidays.
          Activities like Decorating the classroom, making holiday crafts, singing holiday songs, and a small party with treats.</p> 
    </div>
    </div>
    
  </div>
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/newyear.webp" alt="New Year's Celebration">
            <h2>New Year's Celebration</h2>
            <p>January 2024</p>
        </div>
        <div class="card-back">
            <h2>Happy New Year!</h2>
            <p>A fun and festive celebration to welcome the New Year.
              Activities like dance, music, and a small party with New Year's hats and noisemakers</p>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/spring.jpeg" alt="Spring Festival">
            <h2>Spring Festival</h2>
            <p>March 2024</p>
        </div>
        <div class="card-back">
            <h2>Spring Festival</h2>
            <p>Celebrating the beginning of spring.
              Activities like Planting flowers, spring-themed arts and crafts, and a small outdoor picnic if weather permits.</p>
    </div>
    </div>
  </div>
  
  <div class="card">
  <div class="card-inner">
      <div class="card-front">
          <img src="./image/summerday.webp" alt="Summer Fun Day">
          <h2>Summer Fun Day</h2>
          <p>April 2024</p>
      </div>
      <div class="card-back">
          <h2>Summer Fun Day</h2>
          <p>A day dedicated to outdoor fun and activities.
            Activities like Water play (sprinklers, water balloons), outdoor games, and a picnic lunch.</p>
      </div>
  </div>
  </div>
  </div>
  </div>
  
  

<!-- footer -->
<div class="footer">
    
    <div class="footer-container">
        <div class="logo">
          <img src="./image/logo-removebg.png" alt="Bachpan Logo">
          <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
        </div>
        <div class="quick-links">
            <ul>
              <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/franchise">Franchise</a></li>
              <li><a href="/program">Programs</a></li>
              <li><a href="/Newsandevent">News & Events</a></li>
             
            </ul>
          </div>
        <div class="quick-links">
            <ul>
              <li><a href="#"><h2>Get help</h2></a></li>
              <li><a href="#">Register</a></li>
              <li><a href="/Admission">Admission</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
          </div>
        <div class="contact-details">
          <ul>
            <h2>Our Contact Details</h2>
            <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
            <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
            <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
          </ul>
        </div>
      </div>
      <div class="footer-buttons">
        <button class="button">Corporate Login</button>
      </div>
      <hr>
      <div class="copy-right">
        <p>Copyright © 2024 Munchkin Kindergarten</p>
      </div>
      </div>
   <script src="./index.js"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1000,
      offset:140,
    });
  </script>
  
</body>
</html>
