<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News and Event</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./Newsandevent.css">
</head>

<body>
  <header>
        
    <nav>
        <div class="logo">
            <a href="/"><img src="./image/logo-removebg.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li class="dropdown">
                <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
                <div class="test">
                    <ul class="dropdown-content">
                        <li><a href="/pre-nursery">Pre-Nursery</a></li>
                        <li><a href="/nursery">Nursery</a></li>
                        <li><a href="/kindergarten">Kindergarten</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/Newsandevent">News & Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="dropdown_menu">
          <li><a href="/">Home</a></li>
          <li><a href="Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content1">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </div>
    </nav >
</header>
    <div class="main-div">
    </div>
    
    <div class="container"> 
      <div class="card">
          <div class="card-inner">
              <div class="card-front">
                  <img src="./image/newyear.webp" alt="New Year's Celebration">
                  <h2>New Year's Celebration</h2>
                  <p>January 2024</p>
              </div>
              <div class="card-back">
                  <h2>Happy New Year!</h2>
                  <p>A fun and festive celebration to welcome the New Year.
                    Activities like dance, music, and a small party with New Year's hats and noisemakers</p>
              </div>
          </div>
        </div>
      <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="./image/spring.jpeg" alt="Spring Festival">
                <h2>Spring Festival</h2>
                <p>March 2024</p>
            </div>
            <div class="card-back">
                <h2>Spring Festival</h2>
                <p>Celebrating the beginning of spring.
                  Activities like Planting flowers, spring-themed arts and crafts, and a small outdoor picnic if weather permits.</p>
        </div>
        </div>
    </div>
    
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
              <img src="./image/summerday.webp" alt="Summer Fun Day">
              <h2>Summer Fun Day</h2>
              <p>April 2024</p>
          </div>
          <div class="card-back">
              <h2>Summer Fun Day</h2>
              <p>A day dedicated to outdoor fun and activities.
                Activities like Water play (sprinklers, water balloons), outdoor games, and a picnic lunch.</p>
          </div>
    </div>
  </div>
      
   <div class="card">
        <div class="card-inner">
            <div class="card-front">
                <img src="./image/kamlamummy.webp" alt="Mother's Day masti">
                <h2>Mother's Day masti</h2>
                <p>May 2024</p>
            </div>
            <div class="card-back">
                <h2>Mother's Day masti</h2>
                <p> A special event to honor mothers and caregivers.
                  Activities like making cards and crafts for mothers, and a short performance by the children.  </p>
        </div>
        </div>
    </div>

    <div class="card">
      <div class="card-inner">
          <div class="card-front">
              <img src="./image/sports day.jpeg" alt="Sports Day">
              <h2>Sports Day</h2>
              <p>june 2024</p>
          </div>
          <div class="card-back">
              <h2>Sports Day</h2>
              <p>Lively event filled with fun games, where little ones enjoy friendly competition and teamwork. It's a day of laughter, promoting physical activity and social skills among young children.</p>






              </p>
          </div>
    </div>
  </div>
    <div class="card">
      <div class="card-inner">
          <div class="card-front">
              <img src="./image/end.webp" alt="End of Year">
              <h2>End of Year</h2>
              <p>July 2024</p>
          </div>
          <div class="card-back">
              <h2>End of Year</h2>
              <p>Celebrating the end of the school year and the graduation of older preschoolers.
                Activities like Graduation ceremony, certificates, performances by the children, and a party with games and refreshments. </p>
          </div>
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="./image/welcome.jpeg" alt="Back to School Welcome">
            <h2>Back to School Welcome</h2>
            <p>September 2024</p>
        </div>
        <div class="card-back">
            <h2>Back to School Welcome</h2>
            <p> Welcoming new and returning students.
              Activities like Meet and greet, classroom tours, icebreaker games, and a welcome party.</p>
        </div>
  </div>
</div>

<div class="card">
  <div class="card-inner">
      <div class="card-front">
          <img src="./image/annual.jpeg" alt="Annual Day">
          <h2>Annual Day</h2>
          <p>October 2024</p>
      </div>
      <div class="card-back">
          <h2>Annual Day</h2>
          <p>  A fun and spooky celebration with dance.
            Activities like Costume competition,dance performance,crafts and games.</p>
      </div>
  </div>
 </div>  
 <div class="card">
  <div class="card-inner">
      <div class="card-front">
          <img src="./image/winterday.webp" alt="Winter Holiday Celebration">
          <h2>Winter Holiday Celebration</h2>
          <p>December 2024</p>
      </div>
      <div class="card-back">
          <h2>Winter  Celebration</h2>
          <p>  Celebrating winter holidays.
            Activities like Decorating the classroom, making holiday crafts, singing holiday songs, and a small party with treats.</p> 
      </div>
    </div>
</div>
</div>
<div class="footer">
    
  <div class="footer-container">
      <div class="logo">
        <img src="./image/logo-removebg.png" alt="Bachpan Logo">
        <p>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
      </div>
      <div class="quick-links">
          <ul>
            <li><a href="/kindergarten"><h2>kindergarten</h2></a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/franchise">Franchise</a></li>
            <li><a href="/program">Programs</a></li>
            <li><a href="/Newsandevent">News & Events</a></li>
           
          </ul>
        </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><h2>Get help</h2></a></li>
            <li><a href="#">Register</a></li>
            <li><a href="/Admission">Admission</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/terms">Terms and Conditions</a></li>
          </ul>
        </div>
      <div class="contact-details">
        <ul>
          <h2>Our Contact Details</h2>
          <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
          <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
          <li><i class="fas fa-envelope"></i> response@munchkinkindergarten.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-buttons">
      <button class="button">Corporate Login</button>
    </div>
    <hr>
    <div class="copy-right">
      <p>Copyright © 2024 Munchkin Kindergarten</p>
    </div>
    </div>

</body>
</html>