<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./pre-nursery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<section>  
  <header class="header">
    <nav>
      <div class="logo">
        <a href="#"><img src="./image/logo-removebg.png" alt="Logo"></a>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/Admission">Admission</a></li>
        <li><a href="/franchise">Franchise</a></li>
        <li class="dropdown">
          <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
          <ul class="dropdown-content">
            <li><a href="/pre-nursery">Pre-Nursery</a></li>
            <li><a href="/nursery">Nursery</a></li>
            <li><a href="/kindergarten">Kindergarten</a></li>
          </ul>
        </li>
        <li><a href="/Newsandevent">News & Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="dropdown_menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Admission">Admission</a></li>
        <li><a href="/franchise">Franchise</a></li>
        <li class="dropdown">
          <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
          <ul class="dropdown-content1">
            <li><a href="/pre-nursery">Pre-Nursery</a></li>
            <li><a href="/nursery">Nursery</a></li>
            <li><a href="/kindergarten">Kindergarten</a></li>
          </ul>
        </li>
        <li><a href="/Newsandevent">News & Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </div>
    </nav>
  </div>
</section>
 <div class="container">
       <div class="main">
           <h1>Pre-Nursery (Playgroup)<center><img src="./image/line.png" width="300" height="30"></center></h1> 
       </div>

       <div class="programs">
           <div class="item"> Best Pre-Nursery (Playgroup) School for Kids</div>
      </div>

      <div class="info">
          <div class="para"><p align="justify">At Munchkin's Kindergarten, we celebrate the uniqueness of every child. 
                Our Pre-Nursery (Playgroup) program is a canvas where young minds paint their first strokes of knowledge through play. 
                We've carefully crafted a curriculum that encourages 'learning by doing', nurturing a stress-free environment 
                where joy and curiosity lead the way to learning.</p>
          </div><br>
          <div class="para"><p align="justify">As a luminary among playgroups, Munchkin's Kindergarten is dedicated to the joyful cultivation of 
                foundational skills. We're not just a Pre-Nursery (Playgroup); we're a nurturing ground where every listen, 
                every speak, every read, and every write is an exciting adventure in a supportive, enriching environment.</p>
          </div><br>
          <div class="para"><p align="justify">Our play-based methodology, enriched with sensory activities, aligns with scientific research underscoring 
                the importance of early learning environments in skill development. Witnessing our children transform from shy 
                explorers to confident and joyful learners is our greatest reward. We pledge to make your child's first educational 
                foray not only enlightening but a celebration of growth and discovery.</p>
          </div><br><br>
          <div class="question"><h2>Why Choose  Kindergarten for your Child?</h2></div>
          <div class="para1"><p align="justify">Opting for Munchkin's Kindergarten means selecting an ecosystem that thrives on comprehensive development. 
                 Our balanced approach intertwines structured learning with the spontaneity of play, sparking both inquisitiveness and imagination. 
                 Through tales, puppetry, and melodious tunes, we make language learning delightful, while our active playtimes develop motor skills amidst the thrill of movement. 
                 Every facet of Munchkin's Kindergarten is designed to prime young learners for a successful educational odyssey.</p>
          </div><br>
                 
            <div class="question"><h3>Language Discovery Through Fun at Munchkin's Kindergarten:</h3></div>
            <div class="para1"><p align="justify">Immerse in the magic at Munchkin's Kindergarten, where children's early words transform 
                 into a symphony of language through lively storytelling and captivating puppetry. Each session is a leap into linguistic 
                 fluency, turning learning into a captivating play of words and expressions.</p>
                </div><br>
            <div class="question"><h3>Vibrant Physical Play That Energizes:</h3></div>
            <div class="para1"><p align="justify">Physical excellence springs from our playgroup's active fun. Watch as your child's 
                every skip and jump at  Kindergarten builds a foundation of strength and coordination, making playtime a 
                path to robust development.</p>
            </div><br>
            <div class="question"><h3>Weaving an Emotional and Social Tapestry:</h3></div>
            <div class="para1"><p align="justify">Munchkin's Kindergarten's Pre-Nursery (Playgroup) is where emotional intelligence and 
                social skills grow. Through collaborative play and heartfelt interactions, we cultivate empathetic, socially adept 
                individuals ready to connect and contribute to the world around them.</p>
            </div><br>
            <div class="question"><h3>Igniting Wonder in Every Child:</h3></div>
            <div class="para1"><p align="justify">At Munchkin's Kindergarten, 'why' sparks 'wow'. Our environment is rich with colorful 
                books and interactive play, designed to turn curiosity into a thrilling educational journey, making every discovery 
                an adventure in wonder and delight.</p>
            </div><br><br><br>
      

      
        <div class="question"><h3> Munchkin's Pet KG Pre-Nursery (Playgroup) Admission Process </h3></div><br>
        <div class="para"><p align="justify">Joining the  Kindergarten family is as simple as the joy of a child's smile. Our transparent admissions process for the Playgroup in Nagpur is tailored to be family-friendly and straightforward:
            <br>To begin your child’s educational journey at  Kindergarten, follow these steps:
        </p></div><br>
        <h4><b>Inquiry:</b></h4>
        <div class="para"><p align="justify">Dive into the  Kindergarten experience through our website or visit our vibrant campus.</p></div><br>
        <h4><b>Application:</b></h4>
        <div class="para"><p align="justify">Begin the adventure by filling out the simple online application form, or by visiting our welcoming school office.</p></div><br>
        <h4><b>Documentation:</b></h4>
        <div class="para"><p align="justify">Provide the necessary documents to anchor your child's place in our family. (As stated in this page)</p></div><br>
        <h4><b>Fee Payment:</b></h4>
        <div class="para"><p align="justify">Upon confirmation of admission, complete the fee payment process as instructed. Secure your child's future with our easy payment options.</p></div><br>
        <h4><b>Finalisation:</b></h4>
        <div class="para"><p align="justify">Seal the deal by submitting all documents and fees, and watch as your child's potential unfolds at  Kindergarten.</p></div><br>
        <div class="para"><p align="justify">Join the  Kindergarten family, where every child's educational journey is a story of growth, happiness, and boundless potential.</p></div><br>
      </div>

<section class="faqs">
        <br>
      <div class="wrapper">
        <h1><b>Frequently Asked Questions</b></h1>
  
        <div class="faq">
          <button class="accordion">
             What is the minimum age for Pre-Nursery (Playgroup)?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                At Munchkin's Kindergarten, we welcome children aged 2 to 3 years for our Pre-Nursery (Playgroup), focusing on developmental readiness and creating a strong foundation for future learning.
            </p>
          </div>
        </div>
  
        <div class="faq">
          <button class="accordion">What benefits does a child get from going to a Pre-Nursery, and when should it start?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                Attending a Pre-Nursery (Playgroup) offers numerous benefits for a child, both in terms of developmental and social aspects. Children learn to interact, share, and play with their peers, which is crucial for their social and emotional development. Playgroups also provide a structured environment where children can engage in activities that promote cognitive and language development, such as storytelling, singing, and creative play. The playgroup at  Kindergarten focuses on social and emotional development. Children learn to interact and play in a structured environment, enhancing their cognitive and language skills through activities like storytelling and creative play.
            </p>
          </div>
        </div>
  
        <div class="faq">
          <button class="accordion">
            How to choose the right Pre-Nursery (Playgroup) program for children?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                When selecting a Pre-Nursery (Playgroup) programme for children, prioritise a well-rounded curriculum that combines educational and social activities. Ensure a nurturing environment with qualified staff, promote parental involvement, and consider the program's schedule and location for your child's best development. Munchkin's Kindergarten's playgroup program offers a balanced curriculum with educational and social activities, supported by qualified staff and a welcoming environment for parental involvement.
            </p>
          </div>
        </div>
  
        <div class="faq">
          <button class="accordion">
           How much parental involvement does the Pre-Nursery (Playgroup) want?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                The level of parental involvement in a school can vary, but many playgroups encourage parents to be actively engaged in their child's early learning experience. We at Munchkin's Kindergarten value and encourage active parental engagement in our Pre-Nursery (Playgroup), fostering a community that supports each child’s growth and learning journey.
            </p>
          </div>
        </div>
  
        <div class="faq">
          <button class="accordion">
           What are the Study Patterns in Pre-Nursery (Playgroup)?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                At Munchkin's Kindergarten, our Pre-Nursery (Playgroup) embraces a play-based learning approach that is both engaging and educational. Central to this approach is our unique ZONE System, a dynamic and innovative method designed to foster holistic development in children. This system incorporates a variety of interactive zones, each focused on different aspects of learning and development. From sensory play to creative arts, the ZONE System offers a diverse array of activities that stimulate cognitive, emotional, and social growth in a way that is enjoyable and intuitive for young learners. The emphasis is on making learning a delightful experience, encouraging exploration, creativity, and the natural curiosity of children.
            </p>
          </div>
        </div>
  
        <div class="faq">
          <button class="accordion">
              What Facilities Should I Look for in a Pre-Nursery (Playgroup)?
            <i class="fa-light fa-plus"></i>
          </button>
          <div class="pannel">
            <p>
                At Munchkin's Kindergarten, ideal facilities for a holistic kindergarten experience include a safe, nurturing environment, digital classrooms for interactive learning, and a variety of physical activity spaces like a swimming pool, skating ring, and sand pit. We also emphasize creative development with a soft toy zone and an auditorium for events. Safety is a top priority, ensured by CCTV on each floor and guards. Additionally, convenient transportation services are provided, reflecting our commitment to a comprehensive and secure educational environment for our young learners.
            </p>
          </div>
        </div>

        <div class="faq">
            <button class="accordion">
               What is the Typical Teacher-to-Student Ratio in Pre-Nursery (Playgroup)?
                <i class="fa-light fa-plus"></i>
            </button>
            <div class="pannel">
              <p>
                At Munchkin's Kindergarten, we maintain an optimal teacher-to-student ratio to ensure personalized attention and quality education. In our Nursery, KG I, and KG II classes, the ratio is 2:30, with a team of three educators per section – a class teacher, a co-teacher, and a subject teacher. This structure allows us to cater to individual needs, fostering a supportive and effective learning environment for our young learners.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
                What are the School Timings for Pre-Nursery (Playgroup)?
                <i class="fa-light fa-plus"></i>
            </button>
            <div class="pannel">
              <p>
                At Munchkin's Kindergarten, the school timings for kindergarten & Pre-Nursery (Playgroup) are thoughtfully scheduled to suit the developmental needs of young children. Each level has specific timing.<br>
                Pre-Nursery: 10:00 AM to 12:45 PM<br>
                Nursery: 9:20 AM to 1:00 PM<br>
                KG I: 9:40 AM to 2:00 PM<br>
                KG II: 9:00 AM to 1:30 PM<br>
                These timings are designed to provide an optimal balance of learning, play, and rest, ensuring a nurturing and productive environment for our kindergarten students.

              </p>
            </div>
          </div>
          <div class="faq">
            <button class="accordion">
              Are Transportation Facilities Provided by Pre-Nursery (Playgroup)?
                <i class="fa-light fa-plus"></i>
            </button>
            <div class="pannel">
              <p>
                Yes, Munchkin's Kindergarten provides transportation facilities. The transportation is equipped with essential safety features and is managed by trained professionals, reflecting our commitment to the well-being of our students.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
               What is the Admission Process at Munchkin's Kindergarten?
                <i class="fa-light fa-plus"></i>
            </button>
            <div class="pannel">
              <p>
                Enrolling your child at Munchkin's Kindergarten is a straightforward process. Interested parents can begin by filling out an application form available at our office or on our website. Necessary documents include the child's birth certificate and immunization record. Once the application is submitted, our team will guide you through the next steps, which may include an informal interaction with the child and parents. Admissions are subject to availability and are processed on a first-come, first-served basis.
              </p>
            </div>
          </div>

          <div class="faq">
            <button class="accordion">
              How Can Parents Get Involved at Munchkin's Kindergarten?
                <i class="fa-light fa-plus"></i>
            </button>
            <div class="pannel">
              <p>
                Parental involvement is highly valued at Munchkin's Kindergarten. We encourage parents to engage in various school activities, such as parent-teacher meetings, workshops, and special event days. We also provide regular updates on the child's progress and welcome parental feedback. Additionally, parents can volunteer for activities or field trips, fostering a strong community spirit and enriching the educational experience for all children.
              </p>
            </div>
          </div>
      </div>
      <br>
</section>

    <div class="other">
        <div class="other-prog">Our Other Programs</div>
      </div>

      <div class="boxes">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="./image/Nursery-card.png">
                </div>
                <div class="flip-box-back">
                  <br>
                  <h2>Nursery</h2><br>
                    <p align="justify">Our Nursery program is innovative, incorporating language development, storytelling, phonics, experiential play, cognitive skills, and art, craft, and physical play to foster a lifelong love of learning and promote growth.<br><br></p>
                    <a href="/nursery"><button class="explore-button">Explore More</button></a>
                </div>
            </div>
          </div>
  
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="./image/kindergarten-1.png">
                </div>
                <div class="flip-box-back">
                  <br>
                    <h2>KG 1</h2> <br>
                    <p align="justify">The kindergarten offers a holistic experience with a safe, nurturing environment, interactive digital classrooms, physical activity spaces, a soft toy zone, auditorium, and safety measures like CCTV and convenient transportation services.<br><br></p>
                    <a href="/kindergarten"><button class="explore-button">Explore More</button></a>
                </div>
            </div>
        </div>
        <div class="flip-box">
          <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="./image/kindergarten-2.png">
              </div>
              <div class="flip-box-back">
                <br>
                  <h2>KG 2</h2><br>
                  <p align="justify">The kindergarten offers a holistic experience with a safe, nurturing environment, interactive digital classrooms, physical activity spaces, a soft toy zone, auditorium, and safety measures like CCTV and convenient transportation services.<br><br>
                  </p>
                  <a href="/kindergarten"><button class="explore-button">Explore More</button></a>
              </div>
          </div>
        </div>
      </div>
      <br>
      <br><br>
    </div>
    
    <div class="footer">
      <div class="footer-container">
          <div class="logo">
            <img src="./image/logo-removebg.png" alt="Munchkin Logo">
            <p><br>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
          </div>
          <div class="quick-links">
              <ul>
                <li><a href="/kindergarten"><b>kindergarten</b></a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/Admission">Admission</a></li>
                <li><a href="/franchise">Franchise</a></li>
                <li><a href="/program">Programs</a></li>
                <li><a href="/Newsandevent">News & Events</a></li>
               
              </ul>
            </div>
          <div class="quick-links">
              <ul>
                <li><a href="#"><b>Get help</b></a></li>
                <li><a href="/Admission">Register</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/refund">Refund</a></li>
                <li><a href="/policy">Policy</a></li>
                <li><a href="/terms">Terms and Conditions</a></li>
              </ul>
            </div>
          <div class="contact-details">
            <ul>
              <h2>Our Contact Details</h2>
              <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
              <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
              <li><i class="fas fa-envelope"></i> response@bachpanglobal.com</li>
            </ul>
          </div>
        </div>
        <div class="footer-buttons">
          <button class="button">Corporate Login</button>
        </div>
        <hr>
        <div class="copy-right">
          <p>Copyright © 2024 Munchkin Kindergarten</p>
        </div>
        </div>

<script>
        var acc = document.getElementsByClassName("accordion");
        var i;
  
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.parentElement.classList.toggle("active");
  
            var pannel = this.nextElementSibling;
  
            if (pannel.style.display === "block") {
              pannel.style.display = "none";
            } else {
              pannel.style.display = "block";
            }
          });
        }

        document.addEventListener('DOMContentLoaded', function() {
        var acc = document.querySelectorAll('.accordion');

         acc.forEach(function(el) {
          el.addEventListener('click', function() {
            this.classList.toggle('active');
            var icon = this.querySelector('.fa-light');

            // Toggle between plus and cross icons
            if (icon.classList.contains('fa-plus')) {
                icon.classList.remove('fa-plus');
                icon.classList.add('fa-cross');
            } else {
                icon.classList.remove('fa-cross');
                icon.classList.add('fa-plus');
            }

            // Toggle the visibility of the panel
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = "none";
            } else {
                panel.style.maxHeight = "block";
            }
        });
    });
});


const toggleBtn = document.querySelector('.toggle_btn')
const toggleBtnIcon = document.querySelector('.toggle_btn i')
const dropdownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
    dropdownMenu.classList.toggle('open')
    const isOpen = dropdownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen
    ? 'fa-solid fa-xmark'
    : 'fa-solid fa-bars'
}

</script>
</body>
</html>