<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+2:wght@400..800&family=Concert+One&family=Merienda:wght@500..900&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./program.css">
</head>
<body>

<section>
    <header>
      <div class="header">
      <nav>
        <div class="logo">
          <a href="#"><img src="./image/logo-removebg.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="dropdown_menu">
          <li><a href="/">Home</a></li>
          <li><a href="/Admission">Admission</a></li>
          <li><a href="/franchise">Franchise</a></li>
          <li class="dropdown">
            <a href="/program">Programs <span class="fas fa-caret-down"></span></a>
            <ul class="dropdown-content1">
              <li><a href="/pre-nursery">Pre-Nursery</a></li>
              <li><a href="/nursery">Nursery</a></li>
              <li><a href="/kindergarten">Kindergarten</a></li>
            </ul>
          </li>
          <li><a href="/Newsandevent">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </div>
      </nav>
      </div>
    </header>
</section>

<section>
    <div class="container">
      <div class="main">
        <h1>Learning Programs</h1> 
        <center><img src="./image/line.png" width="300" height="30"></center>
      </div>

      <div class="programs">
        <div class="item"><a href="/pre-nursery"> Pre-Nursery (Playgroup)</a></div>
        <div class="item"><a href="/nursery"> Pre-Kindergarten (Pre-Nursery & Nursery)</a></div>
        <div class="item"><a href="/kindergarten"> Kindergarten (KG 1 & 2)</a></div>
      </div>

      <div class="play">
       <div id="item0"><b><h1>Play Group</h1></b></div>
       <div id="item1"><b><h3>INTRODUCTION</h3></b></div>
       <div id="item2"><p align="justify">
       The Learning Program at MPK is based on the development of skills across the main domains of Early Childhood Development. 
       L S R W - forms the framework for our pedagogy - Listen Speak Read and finally Write. Hence there is no writing in Nursery class. 
       It comprises Language, Numeracy, Story Telling, and Montessori sessions. 
       The Joy Quotient (JQ) is the common thread that is part of all our teaching pedagogy.</p></div>
       <br>
       <div id="item1"><b><h3>PLAY GROUP</h3></b></div>
       <div id="item2"><p align="justify">
        As per research, the earlier the exposure of the child to a rich learning experience the greater the development of the skills. 
        The transformation of the child from a little toddler crying in the first month to a confident happy child at the end of the academic year fills us with pride .
        The development of skills and the pace of development of skills is truly phenomenal in this group.</p></div>
      </div>
      <br><br><br><br><br><br>
      <div id="item0"><b><h1>Your Child Will Learn</h1></b></div>

      <div class="boxes">
        <div class="icon">
            <div id="img"><img src="./image/beach-ball.png"></div>
            <h3>Language Skills</h3>
            <p align="justify">Development is from words to phrases to sentences. 
                Stories, puppet play, rhymes, concept learning, art, role play, music; 
                every activity develops language and communication skills.</p>  
        </div>

        <div class="icon">
            <div id="img"><img src="./image/air-pollution.png" ></div>
            <h3>Gross Motor Skills</h3>
            <p align="justify">Ample opportunities to develop gross motor skills related to large muscles - running, jumping, hopping.
                Montessori activities, EPL activities, free play, physical activities, art/craft, teaching aids (in- house) to develop motor skills, music and movement, toy play, water play and a host of emotional activities.</p>
        </div>

        <div class="icon">
            <div id="img"><img src="./image/cubes.png" ></div>
            <h3>Social /Emotional Skills</h3>
            <p align="justify">One of the most important skills to develop in early childhood which lays the foundation for your habits/values in the future.
                Role Play, Free play, Group Play, Games, Dance and many more activities to develop this skill.</p>
        </div>

        <div class="icon">
            <div id="img"><img src="./image/playground.png"></div>
            <h3>Cognitive Skills</h3>
            <p align="justify">Cognitive functions are developed by activities which involve listening, understanding and paying attention. Children are encouraged to question laying a strong foundation for future academic success.
                Knowledge is imparted through colourful books, flash cards, experiential learning and a host of activities.</p>
        </div>
      </div>
      <div class="btn"><button class="read-more">Read More</button></div>
      
      <div class="question">
      <div class="video"><video src="" width="500" height="400"></video></div>
      <div class="faq">
        <h2>Frequently asked questions by the parents {FAQ}</h2><br>
        <p align="justify">As your child enters kindergarten, we know that you probably have a lot of questions in your mind. 
        We want to make sure that you and your child feel at home here at Munchkin's Kindergarten, 
        One of the best things you can do is to familiarize yourself and your child with our school by taking a tour of our Kindergarten. 
        Let your baby play in the outdoor play area by visiting us during the office hours before the new session starts.</p>
        <br>
        <button class="read-more"><a href="/faq">Views FAQs</a></button></div>
        </div><br>


        <div class="enroll">
            <h1>Not just learning, it’s joyful learning!<br>
                Pre-Nursery | Nursery | KG 1 | KG 2</h1>
            <div class="btn"><button class="read-more"><a href="/Admission">Enrol Now</a></button></div>
        </div>
    </div>
</section>

<div class="footer">
  <div class="footer-container">
      <div class="logo">
        <img src="./image/logo-removebg.png" alt="Munchkin Logo"><br>
        <p><br>At Munchkin Kindergarten, we believe in fostering a love for learning through our innovating teaching approach </p>
      </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><b>kindergarten</b></a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Admission</a></li>
            <li><a href="#">Franchise</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">News & Events</a></li>
           
          </ul>
        </div>
      <div class="quick-links">
          <ul>
            <li><a href="#"><b>Get help</b></a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Refund</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
      <div class="contact-details">
        <ul>
          <h2>Our Contact Details</h2>
          <li><i class="fas fa-map-marker-alt"></i> 9988/B-1, S.K Tower, Sarai <br>Rohilla, New Rohtak Rd, <br>Delhi-110005</li>
          <li><i class="fas fa-phone"></i> 011-35106666/7777</li>
          <li><i class="fas fa-envelope"></i> response@bachpanglobal.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-buttons">
      <button class="button">Corporate Login</button>
    </div>
    <hr>
    <div class="copy-right">
      <p>Copyright © 2024 Munchkin Kindergarten</p>
    </div>
    </div>

<script>
  const toggleBtn = document.querySelector('.toggle_btn')
const toggleBtnIcon = document.querySelector('.toggle_btn i')
const dropdownMenu = document.querySelector('.dropdown_menu')

toggleBtn.onclick = function () {
    dropdownMenu.classList.toggle('open')
    const isOpen = dropdownMenu.classList.contains('open')

    toggleBtnIcon.classList = isOpen
    ? 'fa-solid fa-xmark'
    : 'fa-solid fa-bars'
}
</script>
</body>
</html>